{
    "env": {
        "jest": true,
        "browser": true
    },
    "extends": [
        "standard",
        "standard-react"
    ],
    "settings": {
        "react": {
            "version": "16.2"
        }
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "globals": {
        "__DEV__": true
    },
    "rules": {
        "indent": [1, 4, { "SwitchCase": 1 }],
        "no-class-assign": 0,
        "camelcase": [
            0,
            {
                "properties": "never"
            }
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "react/prop-types": [
            "error",
            {
                "ignore": [
                    "navigation"
                ]
            }
        ],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": 0,
        "generator-star-spacing": 0
    }
}