@import 'foundation';
@import url('https://fonts.googleapis.com/css?family=Anton|Muli');

@include foundation-everything();

// Global styles
@include foundation-global-styles();
@include foundation-forms();
@include foundation-typography();

// Grids (choose one)
@include foundation-xy-grid-classes();

body {
    background-color: black;
    color: white;

    padding-bottom: 50px;
    font-family: Muli, sans-serif;
}