$oldpaper: #F8ECC2;
$ink: #030C22;
$white: #fff;
$black: #000;
$red: #FF4E50;

$lightgrey: #F8F9FB;
$purple: #2D0C86;
$violet: #DD2EEB;
$teal: #23D2E1;

$background-color: $lightgrey;
$text-color: $purple;
$card-color: $white;