$imported: () !default;
@mixin import-once($file) {
    $imported: $imported !global;
    $index: index($imported, $file);
    @if (($index == null) or ($index == false)) {
        $imported: append($imported, $file);
        @content;
    }
}