@import 'foundation';
@import '../assets/colors';
@import '../assets/global-components/tags';

@import url('https://fonts.googleapis.com/css?family=Anton|Muli|Open+Sans');

$foundation-palette: (
    primary: $text-color,
    secondary: #767676,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37
);

$titlebar-color: $text-color;
$titlebar-background: $background-color;
$titlebar-icon-color: $text-color;
$body-font-color: $text-color;
$button-color: $background-color;
$button-background: $text-color;
$button-background-hover: darken($background-color, 75%);
$table-background: transparent;
$table-is-striped: false;
$label-background: darken($background-color, 75%);
$switch-background: darken($background-color, 75%);
$switch-background-active: $text-color;

@include foundation-everything();

// Global styles
@include foundation-global-styles();
@include foundation-forms();
@include foundation-typography();

// Grids (choose one)
@include foundation-xy-grid-classes();

body {
    background-color: $background-color;
    color: $text-color;

    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

button:focus, input:focus {
    outline: none;
}

input {
    appearance: none;
        
    color: $text-color;
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px solid darken($background-color, 20%);
    box-shadow: none;

    &::placeholder {
        color: darken($background-color, 90%);
    }
}